body {
    margin: 0;
    padding: 0;
    background-image: url('img/main.png');
    background-size: cover;
    position: relative;
    background-repeat: no-repeat; 
    font-family: 'Montserrat Alternates', sans-serif;
}

.nav {
    padding: 40px 50px; /* 20px вгорі і знизу, 50px зліва і справа */
    display: flex;
    justify-content: space-between; /* Розміщуємо елементи у верхньому рівні по обидва боки */
}

.nav a {
    text-decoration: none;
    color:#000000;
    background-image: linear-gradient(to right, #00bd29, #00c1a4); /* Градієнтний фон */
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background-position 0.5s ease; /* Анімація градієнта */
}

.nav a:hover {
    background-position: right center; /* Зміна положення градієнта при наведенні */
}

.logo {
    margin-right: auto; /* Відступ автоматично розтягується, розміщуючи логотип по лівому краю */
}

.menu {
    display: flex;
}

.menu a {
    margin-left: 30px; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease; /* Анімація затемнення */
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1; /* Зміна прозорості при наведенні */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.5s ease; /* Анімація зміни кольору фону */
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.266); 
    z-index: -1; 
}

.container {
    position: absolute;
    top: 210px;
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center; 
}

.title {
    position: relative;
    display: inline-block;
    margin-bottom: 20px; 
    font-size: 70px;
}

.title span {
    display: block; 
}

.button button {
    border: 0.7px solid #ffffff; 
    background-color: transparent; 
    padding: 7px 30px; 
    font-size: 16px; 
    font-family: 'Montserrat Alternates', sans-serif;
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; /* Анімація зміни кольору фону та тексту */
}

.button button:hover {
    background-color: #ffffff; /* Зміна фонового кольору при наведенні */
    color: #000000; /* Зміна кольору тексту при наведенні */
}
